@use "../../../../styles/colors" as *;

.contact-info-container {
  font-size: 1rem;
  flex-wrap: wrap;

  .label {
    font-weight: 500;
    display: flex;
    align-items: center;
    white-space: nowrap;

    .colon {
      margin-left: 0.25rem;
      font-weight: bold;
    }

    i.bi {
      font-size: 1.2rem;
      color: $primary;
      margin-left: 0.5rem;
    }
  }

  .value {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    span {
      font-weight: 500;
    }

    .btn {
      padding: 0.25rem 0.5rem;
      line-height: 1;

      i {
        font-size: 1rem;
      }
    }
  }
}
