@use '../../../../src/styles/colors' as *;

.quote-strip {
  background-color: #b95c1b;
  color: #fff;
  width: 100%;
  border-radius: 12px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2); // soft depth
  transition: box-shadow 0.3s ease;
  position: relative;
  padding: 1.25rem 1.5rem;

  p,
  footer {
    opacity: 1;
    transition: opacity 0.4s ease-in-out;
  }

  .fade-out {
    opacity: 0;
  }

  .fade-in {
    opacity: 1;
  }

  .blockquote {
    font-style: italic;
    border-left: 4px solid #fff;
    padding-left: 1rem;

    .blockquote-footer {
      color: #ffd8b0;
      font-size: 1.1rem;
      font-weight: 600;
      margin-top: 0.5rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.5rem;

    }

    .quote-mark {
      font-size: 2rem;
      vertical-align: text-top;
      line-height: 1;
      padding: 0 0.2rem;
      color: #fff2d5;
    }
  }

}

@keyframes backgroundPulse {
  0% {
    background-color: #b95c1b;
  }
  50% {
    background-color: #ffd8b0; // light orange
  }
  100% {
    background-color: #b95c1b;
  }
}

.quote-strip.highlight-pulse {
  animation: backgroundPulse 1s ease-in-out;
}
