<div
  #quoteStripEl
  class="quote-strip"
  [attr.id]="id"
>
  <blockquote class="blockquote m-0">
    <p
      [class.fade-in]="fadeInClass"
      [class.fade-out]="fadeOutClass"
    ><span class="quote-mark">❝</span>{{ getLocalizedText() }}<span class="quote-mark">❞</span></p>
    <footer
      class="blockquote-footer"
      [class.fade-in]="fadeInClass"
      [class.fade-out]="fadeOutClass"
    >
      {{ currentQuote().author }}
      @if (isUsingEllipsis) {
        <div class="read-more-wrapper" (click)="navigateToReadWhole()">
          <button class="btn btn-link">{{ T.read_more | text }}</button>
        </div>
      }
    </footer>
  </blockquote>
</div>
