@use "../../../styles/index" as styles;

.contact-container {
  padding: 2rem 1rem;


  .row {
    @include styles.blurred-background(styles.$neutral-light, styles.$neutral-soft, 100px, 2rem);
  }

  h2 {
    margin-bottom: 1rem;
    font-weight: bold;
  }

  .map-container {
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  }
}
