<div class="container contact-container">
  <div class="row g-4">
    <!-- Left Column: Contact Form -->
    <div class="col-12 col-md-6">
      <app-contact-form></app-contact-form>
    </div>

    <!-- Divider for larger screens -->
    <div class="d-none d-md-flex justify-content-center align-items-center col-auto px-0">
      <div style="width: 1px; background-color: #ccc; height: 100%;"></div>
    </div>

    <!-- Divider for smaller screens -->
    <div class="d-md-none col-12">
      <hr/>
    </div>

    <!-- Right Column: Contact Info -->
    <div class="col-12 col-md-6">
      <h2>{{ T.contact_information | text }}</h2>
      <div>
        <!-- address -->
        <app-contact-info
          [label]="getText(T.address_label)"
          [value]="getText(T.address_value)"
          [icon]="'geo-alt'"
          [labelWidth]="labelWidth"
        ></app-contact-info>
        <!-- phone -->
        <app-contact-info
          [label]="getText(T.phone_label)"
          [value]="getText(T.phone_value)"
          [icon]="'telephone'"
          [canBeCopied]="true"
          [successCopyMessage]="getText(T.value_copied)"
          [labelWidth]="labelWidth"
        ></app-contact-info>
        <!-- email -->
        <app-contact-info
          [label]="getText(T.email_label)"
          [value]="getText(T.email_value)"
          [icon]="'envelope'"
          [canBeCopied]="true"
          [successCopyMessage]="getText(T.value_copied)"
          [labelWidth]="labelWidth"
        ></app-contact-info>
        <!-- Facebook -->
        <app-contact-info
          label='Facebook'
          [value]="'https://www.facebook.com/Vessago/'"
          [icon]="'facebook'"
          [isValueHyperlink]="true"
          [labelWidth]="labelWidth"
        ></app-contact-info>
        <!-- Instagram -->
        <app-contact-info
          label='Instagram'
          [value]="'https://www.instagram.com/petr_klicz/'"
          [icon]="'instagram'"
          [isValueHyperlink]="true"
          [labelWidth]="labelWidth"
        ></app-contact-info>

        <div class="map-container mt-3">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2606.9183654032804!2d16.592320676860048!3d49.20210817138084!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47129446dfe3322f%3A0x580baaf9e0f1f23b!2zSmFuYSBVaHJhIDE3Ny8xOSwgNjAyIDAwIEJybm8tc3TFmWVkLVZldmXFmcOt!5e0!3m2!1scs!2scz!4v1749007050147!5m2!1scs!2scz"
            width="100%"
            height="250"
            style="border:0"
            allowfullscreen
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
