@use "../../../styles/colors" as *;

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-box {
  background: $glass-white;
  padding: 2em;
  border-radius: 0.5em;
  width: 80%;
  height: auto;
  overflow-y: auto;
  position: relative;

  .close-button-wrapper {
    //display: flex;
    //justify-content: center;
    //align-items: center;
    width: 100%;
    //margin: 0 auto;

    // Optionally control responsiveness
    @media (max-width: 768px) {
      width: 100%;
    }
  }
}

@media (max-width: 768px) {
  .modal-box {
    width: 95%;
    height: 95%;
  }

  .modal-backdrop {
    cursor: pointer;
  }
}
