@use "../styles/colors" as *;

.md-container {
  display: flex;
  flex-direction: column;
  //align-items: center;
  justify-content: center;
  width: 100%;
  padding: 2em;
  box-sizing: border-box;
}

.md-title {
  font-family: "Ubuntu Mono", sans-serif;
  color: $text-on-text_background;
  font-size: 2rem;
  font-weight: bolder;
  margin-bottom: 0.5em;
  text-align: center;
}

.md-image {
  width: 100%;
  max-height: 400px;
  object-fit: contain;
  text-align: center;

  img {
    border-radius: 1em;
  }
}

.md-post-event-text {
  font-family: "Roboto", sans-serif;
  color: black;
  font-size: 1.2rem;
  line-height: 1.5;
  background-color: greenyellow;
  border-radius: 1rem;
  padding: 1em;
}
