@use "../../../styles/colors" as *;

$background-color: 255;

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  height: auto;
  font-family: "Cactus Classical Serif", serif;

  h1 {
    margin-left: 1rem;
  }

  .title {
    margin-left: 3.5em;
    margin-right: 2em;
    font-size: 36px;
    font-weight: bolder;
    font-family: 'Pacifico', cursive;
  }

  .logo {
    width: 100px;
    height: 100px;
    margin-left: 1em;
    margin-right: 5em;
  }

  .nav-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: inherit;
    font-weight: bold;
  }

  a {
    text-decoration: none;
    font-family: inherit;
    font-weight: 300;
    font-size: 1.5em;
    padding: 0.7em;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s;
    margin-left: 1rem;
    border-radius: 0.2em;
    border: #ECEFF1 solid 1px;
    height: 2em;

    &:hover {
      background-color: rgba($background-color, $background-color, $background-color, 0.4);
    }
  }

  @media (max-width: 500px) {
    .title {
      margin-left: 1em;
      margin-right: 1em;
      font-size: 20px;
    }

    a {
      font-size: 20px;
      padding: 1em 15px;
    }

    .logo {
      width: 100px;
      height: 50px;
      margin-left: 0.5em;
    }
  }

  a.active {
    background-color: rgba($background-color, $background-color, $background-color, 0.4);
    transition: color 0.3s;
    font-weight: bold;

    &:hover {
      background-color: rgba($background-color, $background-color, $background-color, 0.6);
    }
  }
}

.header.hidden {
  transform: translateY(-100%);
  transition: transform 0.3s ease-in-out;
}

.header.visible {
  transform: translateY(0);
  transition: transform 0.3s ease-in-out;
}

.show_trigger {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: transparent;
  z-index: 1000;
}
