@use "../../../styles/colors" as *;

$background-color: 255;

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  height: auto;
  font-family: "Cactus Classical Serif", serif;

  h1 {
    margin-left: 1rem;
  }

  .title {
    margin-left: 3.5em;
    margin-right: 2em;
    font-size: 36px;
    font-weight: bolder;
    font-family: 'Pacifico', cursive;
    text-shadow: 3px 3px 3px rgba(0,0,0,0.4);
    letter-spacing: 1.5px;
  }

  .logo {
    width: 100px;
    height: 100px;
    margin-left: 1em;
    margin-right: 5em;
    border-radius: 50%;
    border: 3px gray double;
  }

  .nav-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: inherit;
    font-weight: bold;
    flex-direction: row;

    .hamburger {
      display: none;
      background: none;
      border: none;
      padding: 0.5em;
      margin-left: 1rem;

      i {
        font-size: 2em;
      }
    }

    .links {
      display: flex;
      gap: 1rem;
    }
  }

  a {
    position: relative;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: inherit;
    font-weight: 300;
    font-size: 1.5em;
    padding: 0.7em;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color 0.3s, transform 0.3s;
    margin-left: 1rem;
    border-radius: 50%;
    //border: #ECEFF1 solid 1px;
    height: 2em;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      opacity: 0;
      transition: opacity 1s;
      background: radial-gradient(rgba(#26f3bd, 0.5) 10%, rgba(#fafafa, 0.1) 100%);
      z-index: -1;
    }

    &:hover::before {
      opacity: 1;
    }

    &:hover {
      transform: scale(1.1) translateY(-2px);
      color: black !important;
    }

    .text {
      font-weight: bold;
      text-shadow: 3px 3px 3px rgba(0,0,0,0.25);
    }
  }

  a.active {
    background-color: rgba($background-color, $background-color, $background-color, 0.4);
    transition: color 0.3s, font-size 0.3s, letter-spacing 0.3s;
    color: black !important;

    .text {
      font-weight: 600;
      font-size: 1.2em !important;
      letter-spacing: 1px;
    }

    &:hover {
      background-color: rgba($background-color, $background-color, $background-color, 0.6);
    }
  }
}

.header.hidden {
  transform: translateY(-100%);
  transition: transform 0.3s ease-in-out;
}

.header.visible {
  transform: translateY(0);
  transition: transform 0.3s ease-in-out;
}

.show_trigger {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: transparent;
  z-index: 1000;
}

.mobile-menu {
  display: none;
  flex-direction: column;
  position: fixed;
  top: 110px;
  right: 20%;
  //left: 0;
  z-index: 999;
  max-width: 200px;
  background-color: $orange-soft;

  a {
    font-size: 1.2em;
    padding: 0.75em 1em;
    margin: 0.25em 0;
  }
}

@media (max-width: 1380px) {
  .header {
    height: 80px;
    padding: 0.5em;
    display: flex;
    flex-direction: row;
    align-items: center;

    .title {
      margin-left: 1em;
      margin-right: 1em;
      font-size: 1.5em;
    }

    .logo {
      width: 50px;
      height: 50px;
      margin-left: 0.5em;
    }

    .nav-container {
      width: auto;
      justify-content: space-between;

      a {
        font-size: 1em;
        padding: 0.5em;
      }
    }
  }

  .mobile-menu {
    display: flex;
  }
}

@media (max-width: 768px) {
  .header {
    height: 100px;
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
      margin-left: 0.2em;
      margin-right: 0.2em;
      font-size: 1.2em;
    }

    .logo {
      width: 50px;
      height: 50px;
      margin-left: 0.5em;
      margin-right: 0.5em;
    }

    .nav-container {
      width: auto;
      justify-content: space-between;

      .hamburger {
        display: block !important;
      }

      .links {
        display: none !important;
      }
    }
  }

  .mobile-menu {
    display: flex;
  }
}
