.app-background {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
}

.app-background_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient( rgba(white, 0.8) 10%, rgba(white, 0.8%) 20%, rgba(white, 0.2) 100%);
  z-index: -1;
}
