.controls-wrapper {
  height: 2em;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

@media (max-width: 500px) {
  .controls-wrapper {
    gap: 0.1em;
  }
}

