.in-construction-banner {
  max-width: 100px;
  background-color: rgba(255, 193, 7, 0.1); // light warning background
  border-color: #ffc107;
  top: 150px;
  left: 1%;
  position: absolute;
  background-color: #b95c1b;
  padding: 0.2em;
  z-index: 500;
  transition: transform 0.5s ease, opacity 0.5s ease;
  cursor: pointer;
  display: inline-block;

  &.animate-out {
    transform: translateX(-100%);
    opacity: 0;
  }

  .pulse-icon {
    animation: pulseOpacity 2s infinite ease-in-out;
  }
}

@media (max-width: 500px) {
  .in-construction-banner {
    top: 100px;
    left: 0;
    max-width: 200px;
    text-align: center;
    padding: 0.5em;
    font-size: 1.2em;
  }
}

@keyframes pulseOpacity {
  0%, 100% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
}
