.in-construction-banner {
  max-width: 100px;
  background-color: rgba(255, 193, 7, 0.1); // light warning background
  border-color: #ffc107;
  top: 150px;
  left: 1%;
  position: absolute;
  background-color: #b95c1b;
  padding: 0.2em;
}
