.custom-button {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  font-weight: 600;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);

  &:hover:enabled {
    opacity: 0.95;
    font-weight: 700;
    filter: brightness(110%);
    box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.4);
  }

  &:active:enabled {
    filter: brightness(80%);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  }

  &:disabled {
    background-color: #cccccc !important;
    cursor: not-allowed;
    opacity: 0.6;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  }
}

@media (max-width: 500px) {
  .custom-button {
    width: 100%;
    padding: 0.2em 1em;
  }
}
