.custom-button {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, transform 0.1s ease-in-out;

  &:hover {
    transform: scale(1.02);
    opacity: 0.95;
    font-weight: bold;
  }

  &:active {
    transform: scale(0.98);
  }
}
