@use '../../../../../src/styles/colors' as *;

.dropdown {
  position: relative;

  .btn.dropdown-toggle {
    padding: 0.25rem 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: auto;

    .dropdown-image {
      height: 1.5rem;
      width: auto;
      object-fit: contain;
    }

    .dropdown-text {
      white-space: nowrap;
      margin-left: 0.25rem;
      color: $text-on-orange;
    }
    &:hover {
      background-color: $orange-soft;
      color: $text-on-orange;
    }
  }

  .dropdown-menu {
    min-width: auto;
    width: auto;
    left: 0 !important;         // Force left alignment
    right: auto !important;
    padding: 0.25rem 0;
    box-shadow: 0 0.25rem 0.5rem rgba(0,0,0,0.15);
    background-color: $orange-soft;

    .dropdown-item {
      padding: 0.1rem 0.3rem;
      display: flex;
      align-items: center;
      gap: 0.5rem;

      img.dropdown-image {
        height: 1.25rem;
        width: 1.5rem;
        object-fit: contain;
      }
    }
  }
}
