@use "../../../styles/index" as styles;

.content {
  @include styles.frosted-glass(); // sets background, blur, radius, shadow
  position: relative;
  max-width: 800px;
  width: 100%;
  padding: 20px;
  margin: 12em auto;
  z-index: 20;
}

.home-section,
.text-section {
  max-width: 800px;
  margin: 0 auto;

  .lead {
    font-weight: 400;
  }

  ul {
    padding-left: 1rem;

    li {
      margin-bottom: 0.5rem;
    }
  }

  blockquote {
    font-style: italic;
    border-left: 4px solid #b95c1b;
    padding-left: 1rem;
    margin-left: 1rem;
  }

  .list-wrapper {
    display: flex;
    justify-content: left;
    flex-direction: column;

    .benefits-list {
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 0.2em;
      margin-top: 0.5em;

      li {
        width: 100%;
        background-color: styles.$orange-gradient-end;
        padding: 0.5em;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        transition: transform 0.2s ease;
        text-align: left;
        color: styles.$text-on-text_background;
        font-weight: 700;
        font-size: 1.1rem;

        &:hover {
          transform: translateY(-2px);
        }
      }
    }
  }

  .btn {
    margin-top: 1rem;
  }
}
