<app-content-card [backgroundOpacity]="0.9">
  <div class="text-section" style="text-align: center">
    <h1 class="fw-bold">{{ T.home_title_1 | text }}</h1>
    <h1 class="fw-bold">•</h1>
    <h1 class="fw-bold">{{ T.home_title_2 | text }}</h1>

    <p class="lead">
      {{ T.about_me_part2_1 | text }}
    </p>
    <br>
    <app-quote-strip [quotes]="randomizedTestimonials" />
    <br><br>
    <p class="lead">
      {{ T.home_intro | text }}
    </p>
    <br>
    <app-quote-strip-simple
      [quote]="{
      csText: T.home_quote_text | text,
      enText: T.home_quote_text | text,
      author: T.home_quote_source | text
    }"
      [colorConfiguration]="quoteColorConfiguration"
    />
    <br>
    <p class="lead">{{ T.about_me_part2_2 | text }}</p>
    <br>
    <app-quote-strip [quotes]="randomizedTestimonials" />
    <br>
    <h3 class="mt-4">{{ T.home_benefits_title | text }}</h3>
    <div class="list-wrapper">
      <ul class="benefits-list">
<!--        <li>• {{ T.home_benefits_1 | text }}</li>-->
<!--        <li>• {{ T.home_benefits_2 | text }}</li>-->
<!--        <li>• {{ T.home_benefits_3 | text }}</li>-->
<!--        <li>• {{ T.home_benefits_4 | text }}</li>-->
<!--        <li>• {{ T.home_benefits_5 | text }}</li>-->
<!--        <li>• {{ T.home_benefits_6 | text }}</li>-->
<!--        <li>• {{ T.home_benefits_7 | text }}</li>-->
<!--        <li>• {{ T.home_benefits_8 | text }}</li>-->
<!--        <li>• {{ T.home_benefits_9 | text }}</li>-->
<!--        <li>• {{ T.home_benefits_10 | text }}</li>-->
<!--        <li>• {{ T.home_benefits_11 | text }}</li>-->
        <li> {{ T.home_benefits_1 | text }}</li>
        <li> {{ T.home_benefits_2 | text }}</li>
        <li> {{ T.home_benefits_3 | text }}</li>
        <li> {{ T.home_benefits_4 | text }}</li>
        <li> {{ T.home_benefits_5 | text }}</li>
        <li> {{ T.home_benefits_6 | text }}</li>
        <li> {{ T.home_benefits_7 | text }}</li>
        <li> {{ T.home_benefits_8 | text }}</li>
        <li> {{ T.home_benefits_9 | text }}</li>
        <li> {{ T.home_benefits_10 | text }}</li>
        <li> {{ T.home_benefits_11 | text }}</li>
      </ul>
    </div>
  </div>
</app-content-card>
