<app-content-card>
  <div class="text-section">
    <h1 class="fw-bold">{{ T.home_title | text }}</h1>

    <p class="lead mt-3">
      {{ T.home_intro | text }}
    </p>

    <!--    <blockquote class="blockquote mt-4 mb-4">-->
    <!--      <p>{{ T.home_quote_text | text }}</p>-->
    <!--      <footer class="blockquote-footer">{{ T.home_quote_source | text }}</footer>-->
    <!--    </blockquote>-->
    <app-quote-strip
      [quote]="{
      csText: T.home_quote_text | text,
      enText: 'translate and paste in home.component.html',
      author: T.home_quote_source | text
    }"
    />

    <h2 class="mt-4">{{ T.home_purpose_title | text }}</h2>
    <p>{{ T.home_purpose_text | text }}</p>

    <h3 class="mt-4">{{ T.home_benefits_title | text }}</h3>
    <ul class="list-unstyled">
      <li>• {{ T.home_benefits_1 | text }}</li>
      <li>• {{ T.home_benefits_2 | text }}</li>
      <li>• {{ T.home_benefits_3 | text }}</li>
      <li>• {{ T.home_benefits_4 | text }}</li>
      <li>• {{ T.home_benefits_5 | text }}</li>
      <li>• {{ T.home_benefits_6 | text }}</li>
      <li>• {{ T.home_benefits_7 | text }}</li>
      <li>• {{ T.home_benefits_8 | text }}</li>
      <li>• {{ T.home_benefits_9 | text }}</li>
      <li>• {{ T.home_benefits_10 | text }}</li>
      <li>• {{ T.home_benefits_11 | text }}</li>
    </ul>
  </div>
</app-content-card>
