@use "../../../styles/index" as styles;

.home-section,
.text-section {
  max-width: 800px;
  margin: 0 auto;

  .lead {
    font-weight: 400;
  }

  ul {
    padding-left: 1rem;

    li {
      margin-bottom: 0.5rem;
    }
  }

  blockquote {
    font-style: italic;
    border-left: 4px solid #b95c1b;
    padding-left: 1rem;
    margin-left: 1rem;
  }

  .list-wrapper {
    display: flex;
    justify-content: left;
    flex-direction: column;

    .benefits-list {
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 0.2em;
      margin-top: 0.5em;

      li {
        list-style: none;
        width: 100%;
        background-color: styles.$tab-bg;
        padding: 0.5em 2em;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        transition: transform 0.2s ease;
        text-align: left;
        color: styles.$tab-text;
        font-weight: 700;
        font-size: 1.1rem;

        &:hover {
          transform: translateY(-1px);
        }
      }
    }
  }

  .btn {
    margin-top: 1rem;
  }
}
