@use "../../../styles/index" as styles;

.content {
  @include styles.frosted-glass(); // sets background, blur, radius, shadow
  position: relative;
  max-width: 800px;
  width: 100%;
  padding: 20px;
  margin: 12em auto;
  z-index: 20;
}

.home-section,
.text-section {
  max-width: 800px;
  margin: 0 auto;

  .lead {
    font-weight: 400;
  }

  ul {
    padding-left: 1rem;

    li {
      margin-bottom: 0.5rem;
    }
  }

  blockquote {
    font-style: italic;
    border-left: 4px solid #b95c1b;
    padding-left: 1rem;
    margin-left: 1rem;
  }

  .btn {
    margin-top: 1rem;
  }
}
