@if (!isExpanded()) {
  <div class="event-card">
    <img class="event-image" [src]="event().miniatureUrl || event().imageUrl" alt="event image"/>
    <div class="event-content">
      <div class="event-title flex-row gap-1">
        <p>{{ title() }}</p>
        <p class="event-date">{{ event().date | date: 'dd.MM.yyyy' }}</p>
      </div>
      <p class="event-description">{{ description() }}</p>
      <app-button-read-more
        [label]="T.read_more | text"
        [alwaysShow]="true"
        (click)="openModal()"
        class="read-more-button"
      />
    </div>
  </div>
}

@if (isExpanded()) {
  @if (event().showsMarkdown) {
    <markdown [src]=GetMarkdown()></markdown>
  } @else {

    <div class="expanded-content">
      <h2>{{ title() }}</h2>
      <p>{{ event().date | date: 'dd.MM.yyyy' }} — {{ event().location }}</p>
      <div class="image-and-text-wrapper">
        @if (event().imageUrl) {
          <img [src]="event().imageUrl" class="expanded-image" alt="event miniature"/>
        }
        <div class="texts-wrapper">
          @if (event().postEventTextCs) {
            <div class="post-event-wrapper">
              <p class="md-post-event-text">{{ event().postEventTextCs }}</p>
            </div>
          }
          <p>{{ description() }}</p>
        </div>
      </div>
      @if (event().contentItems && event().contentItems!.length > 0) {
        @for (item of event().contentItems; track item) {
          @if (isHyperlink(item)) {
            <div class="hyperlink-wrapper">
              <p>{{ resolveText(item.labelCs, item.labelEn) }}</p>
              <a [href]="item.url" target="_blank" rel="noopener noreferrer">
                {{ resolveText(item.urlTextCs, item.urlTextEn) }}
              </a>
            </div>
          } @else if (isText(item)) {
            <div class="text-wrapper">
              <p>{{ resolveText(item.textCs, item.textEn) }}</p>
            </div>
          }
        }
      }
    </div>
  }
}
