.event-card {
  display: flex;
  max-height: 10em;
  overflow: hidden;
  border: 1px solid #ddd;
  border-radius: 0.5em;
  background: white;

  .event-image {
    max-width: 12em;
    object-fit: cover;
    max-height: 10em;
  }

  .event-content {
    width: auto;
    padding: 1em;
    position: relative;

    h3 {
      margin-top: 0;
    }

    .event-title {
      display: flex;
      flex-shrink: 1;
      justify-content: space-between;
    }

    .event-description {
      max-height: 6em;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
    }

    .read-more-button {
      position: absolute;
      bottom: 0.25em;
      right: 0.25em;
    }
  }
}

@media (max-width: 768px) {
  .event-card {
    flex-direction: row;

    .event-image {
      width: auto;
      max-height: 5em;
    }

    .event-content {
      width: auto;
    }
  }
}
