@use "../../../styles/colors" as *;

.event-card {
  display: flex;
  max-height: 10em;
  overflow: hidden;
  border: 1px solid #ddd;
  border-radius: 0.5em;
  background: white;

  .event-image {
    max-width: 12em;
    object-fit: cover;
    max-height: 10em;
  }

  .event-content {
    width: auto;
    padding: 1em;
    position: relative;

    h3 {
      margin-top: 0;
    }

    .event-title {
      display: flex;
      flex-shrink: 1;
      justify-content: space-between;
    }

    .event-description {
      max-height: 6em;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
    }

    .read-more-button {
      position: absolute;
      bottom: 0.25em;
      right: 0.25em;
    }
  }

}

.event-modal-content {
  background-color: $glass-white;
  padding: 2em;

  .image-and-text-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 1em;

    .modal-image {
      width: auto;
      height: 10em;
      //max-height: 20em;
      object-fit: cover;
      border-radius: 0.5em;
      margin-bottom: 1em;
    }

    .post-event-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      padding: 1em 0 0 0;
      border: #28a745 1px solid;
      border-radius: 2em;
      background-color: darkseagreen;
      margin-bottom: 1em;
    }
  }

  .hyperlink-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 1em;

    a {
      color: $text-on-orange;
      text-decoration: none;
      font-weight: bold;
      border: $text-on-orange 1px solid;
      padding: 0.5em 1em;
      border-radius: 0.5em;

      &:hover {
        text-decoration: underline;
        background-color: $orange-soft;
        transition: background-color 0.3s ease;
      }
    }
  }
}

@media (max-width: 768px) {
  .event-card {
    flex-direction: row;
    align-content: center;
    align-items: center;

    .event-image {
      width: auto;
      max-height: 5em;
    }

    .event-content {
      width: auto;

      .event-description {
        display: none;
      }

      .event-title h4 {
        font-size: 0.9em;
      }

      .read-more-button {
        right: 1.2em;
      }
    }

  }
}
