@use "../../../styles/colors" as *;

:host {
  display: block;
  width: 100%;
  max-width: 100%;
}

.event-card {
  display: flex;
  max-height: 10em;
  overflow: hidden;
  border: 1px solid #ddd;
  border-radius: 0.5em;
  background: white;
  width: 100%;

  .event-image {
    max-width: 12em;
    object-fit: cover;
    max-height: 10em;
  }

  .event-content {
    width: 100%;
    padding: 1em;
    position: relative;

    h3 {
      margin-top: 0;
    }

    .event-title {
      font-size: 1.5em;
      display: flex;
      flex-shrink: 1;
      justify-content: space-between;

      p {
        margin: 0;
        font-family: "Cactus Classical Serif", serif;
        color: $text-on-text_background;
        font-weight: bolder;
      }

      .event-date {
        text-align: right;
      }
    }


    .event-description {
      max-height: 6em;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
    }

    .read-more-button {
      position: absolute;
      bottom: 0.25em;
      right: 0.25em;
    }
  }
}

.expanded-content {
  background-color: $glass-white;
  padding: 2em;

  .image-and-text-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 1em;

    .expanded-image {
      width: auto;
      height: 10em;
      object-fit: cover;
      border-radius: 0.5em;
      margin-bottom: 1em;
    }

    .post-event-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      padding: 1em 0 0 0;
      border: #28a745 1px solid;
      border-radius: 2em;
      background-color: darkseagreen;
      margin-bottom: 1em;
    }
  }

  .hyperlink-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 1em;

    a {
      color: $text-on-orange;
      text-decoration: none;
      font-weight: bold;
      border: $text-on-orange 1px solid;
      padding: 0.5em 1em;
      border-radius: 0.5em;

      &:hover {
        text-decoration: underline;
        background-color: $orange-soft;
        transition: background-color 0.3s ease;
      }
    }
  }
}

@media (max-width: 768px) {
  .event-card {
    min-height: 5em;
    flex-direction: row;
    align-content: center;
    align-items: center;

    .event-image {
      width: auto;
      max-height: 5em;
      max-width: 5em;
    }

    .event-content {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: flex-start;
      align-content: flex-start;
      padding-left: 1em;
      padding-right: 1em;

      .event-description {
        display: none;
      }

      .event-title {
        font-size: 0.9em;
        margin-bottom: 2em;
        margin-top: 0;
      }

      .read-more-button {
        right: 1.2em;
      }
    }
  }

  .expanded-content {
    .image-and-text-wrapper {
      flex-direction: column;

      .expanded-image {
        width: 100%;
        max-height: 20em;
      }

      .post-event-wrapper {
        width: 100%;
        padding: 1em;
      }
    }
  }
}
