.event-card {
  display: flex;
  max-height: 10em;
  overflow: hidden;
  border: 1px solid #ddd;
  border-radius: 0.5em;
  margin: 1em 0;
  background: white;

  .event-image {
    width: 40%;
    object-fit: cover;
    max-height: 10em;
  }

  .event-content {
    width: 60%;
    padding: 1em;
    position: relative;

    h3 {
      margin-top: 0;
    }

    .event-description {
      max-height: 6em;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
    }

    .read-more-button {
      position: absolute;
      bottom: 1em;
      right: 1em;
    }
  }
}

@media (max-width: 768px) {
  .event-card {
    flex-direction: column;

    .event-image {
      width: 100%;
      max-height: 10em;
    }

    .event-content {
      width: 100%;
    }
  }
}
