@use "../../../../styles/colors" as *;

form {
  padding: 2rem 1rem;
  font-weight: 400;

  h2 {
    font-weight: bold;
    margin-bottom: 1.5rem;
  }

  .form-label {
    font-weight: 500;
  }

  .form-control {
    border-radius: 0.375rem;

    &.is-invalid {
      border-color: $danger;
    }
  }

  .invalid-feedback {
    font-size: 0.875rem;
  }

  button[type='submit'] {
    margin-top: 1rem;
    font-weight: 600;
  }
}
