<div class="mb-5">
  <!-- address -->
  <app-contact-item
    [label]="getText(T.address_label)"
    [value]="StringConstants.ADDRESS"
    [icon]="'geo-alt'"
    [labelWidth]="labelWidth"
  ></app-contact-item>
  <!-- phone -->
  <app-contact-item
    [label]="getText(T.phone_label)"
    [value]="StringConstants.PHONE"
    [icon]="'telephone'"
    [canBeCopied]="true"
    [successCopyMessage]="getText(T.value_copied)"
    [labelWidth]="labelWidth"
  ></app-contact-item>
  <!-- email -->
  <app-contact-item
    [label]="getText(T.email_label)"
    [value]="StringConstants.EMAIL"
    [icon]="'envelope'"
    [canBeCopied]="true"
    [successCopyMessage]="getText(T.value_copied)"
    [labelWidth]="labelWidth"
  ></app-contact-item>
  <!-- Facebook -->
  <app-contact-item
    label='Facebook'
    [value]="StringConstants.FACEBOOK"
    [icon]="'facebook'"
    [isValueHyperlink]="true"
    [labelWidth]="labelWidth"
  ></app-contact-item>
  <!-- Instagram -->
  <app-contact-item
    label='Instagram'
    [value]="StringConstants.INSTAGRAM"
    [icon]="'instagram'"
    [isValueHyperlink]="true"
    [labelWidth]="labelWidth"
  ></app-contact-item>

</div>
