/* You can add global styles to this file, and also import other style files */
@use "styles/index" as styles;
@use "styles/md-styles" as mardown;

body {
  font-family: "Roboto", sans-serif;
  color: styles.$text-on-orange !important;
}

h1, h2, h3, h4 {
  font-family: "Dosis", sans-serif;
  color: styles.$text-on_text_background !important;
  font-weight: bold !important;
}
