$shadow-color: rgba(255, 255, 255, 0.6);

@mixin frosted-glass($blur: 5px, $radius: 20px) {
  background-color: rgba(255, 255, 255, 0.7);;
  //backdrop-filter: blur($blur);
  -webkit-backdrop-filter: blur($blur); // For Safari
  border-radius: $radius;
  box-shadow: 1px -1px 49px 34px $shadow-color;
  -webkit-box-shadow: 1px -1px 49px 34px $shadow-color;
  -moz-box-shadow: 1px -1px 49px 34px $shadow-color;
}
