@use '../../../../src/styles/colors' as *;

.soft-table-wrapper {
  padding: 1rem;
  border-radius: 1rem;
  background-color: RGBA(255, 255, 255, 0.6);
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
}

.soft-table {
  border-collapse: separate;
  border-spacing: 0;

  th, td {
    background-color: $orange-soft;
    border: 1px solid $orange-gradient-start;
    padding: 1rem;
    border-radius: 0.5rem;
    font-size: 1rem;
  }

  // Remove styling for <th>
  thead th {
    background-color: transparent;
    border: none;
    padding-bottom: 0.75rem;
  }

  tr:not(:last-child) td {
    border-bottom: none;
  }

  td:not(:last-child) {
    border-right: none;
  }
}
