<app-content-card>
  <div class="profile-section">
    <p>
      <img
        [src]="profileImagePath"
        alt="Profile Image"
        class="img-fluid mb-3"
        style="max-width: 200px;"
      />
      <!--      {{ T.about_me_intro | text }}-->
      <!--      <br><br>-->

      <span [innerHTML]="T.about_me_title1 | text" class="fw-bold fs-3 d-block text-header"></span>
      <span [innerHTML]="T.about_me_part1_1 | text" class="d-block"></span>
      <br>
      <span [innerHTML]="T.about_me_part1_2 | text" class="d-block"></span>
      <br>
      <app-quote-strip [quotes]="randomizedTestimonials" />
      <br>
      <span [innerHTML]="T.about_me_part1_4 | text" class="d-block"></span>
      <br>
      <span [innerHTML]="T.about_me_part1_5 | text" class="d-block"></span>
      <br>

<!--      <span [innerHTML]="T.about_me_title2 | text" class="fw-bold fs-3 d-block text-header"></span>-->
<!--      <span [innerHTML]="T.about_me_part2_1 | text" class="d-block"></span>-->
      <br>
<!--      <span [innerHTML]="T.about_me_part2_2 | text" class="d-block"></span>-->
      <app-quote-strip [quotes]="randomizedTestimonials" />
      <br>

      <span [innerHTML]="T.about_me_title4 | text" class="fw-bold fs-3 d-block text-header"></span>
      <span [innerHTML]="T.about_me_part4_1 | text" class="d-block"></span>
      <br>
      <span [innerHTML]="T.about_me_part4_2 | text" class="d-block"></span>
    </p>
  </div>
</app-content-card>
