@use "../../../styles/index" as styles;

.content {
  @include styles.frosted-glass(); // sets background, blur, radius, shadow
  position: relative;
  max-width: 800px;
  width: 100%;
  padding: 20px;
  margin: 150px auto;
  z-index: 20;
  color: styles.$text-on-orange;
}

@media (max-width: 500px) {
  .content {
    margin-top: 120px // Smaller shift on mobile to keep more space at the bottom
  }
}

.profile-section {

  img {
    max-width: 300px;
    max-height: 500px;
    width: auto;
    height: auto;
    object-fit: contain;
    float: left; // Make the image float left
    margin-right: 20px; // Space between the image and the text
    margin-bottom: 10px; // Space below the image
  }

  .text-header {
    font-size: 1.5em;
    font-weight: 500;
    margin-bottom: 10px;
    font-family: "Pacifico", cursive;
    color: styles.$text-on-text_background;
  }
  //image centers on media width max 600px
  @media (max-width: 600px) {
    img {
      width: 100%;
      height: auto;
      float: none; // Remove float to center the image
      margin-right: 0; // Remove margin to center the image
    }
  }

  p {
    clear: both; // Clear the float to allow text to wrap properly
  }
}
